.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Main-content {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 5px auto;
  width :500px;
  border:1px solid rgb(235, 235, 235);
}

label {
  color: #b1b1b1;
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}
input {
  height: 30px;
  width:300px;
  border-radius: 5px;
  border: 1px solid #efefef;
}

#output h3 {
  text-align: center;
}

#output {
  margin:0px auto;
  width :500px;
}
.Error {
  margin-left: 440px;
  color: red;
}
::placeholder {
  color: #b1b1b1;
  opacity: 0.5;
  padding-left: 20px;
}

